.wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--gaps-l);
    height: 100%;
    align-items: center;

    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--gaps-m);
    }

    .plainTitle{
        margin: 0;
        text-align: center;
    }

    .content{
        text-align: center;
    }

    .columnsWrapper{
        display: flex;
        gap: var(--gaps-l);
        box-sizing: border-box;
        height: 100%;
        min-height: min(400px, 100dvh - var(--navbar-height));
        overflow-x: auto;
        width: 100%;
        padding: clamp(16px, 7vh, 60px) 0;

        scrollbar-width: thin;
        scrollbar-color: var(--surface-raised-top) transparent;

        align-items: start;

        &::-webkit-scrollbar{
            height: 8px;
            background: transparent;
        }

        &::-webkit-scrollbar-track{
            background: transparent;
        }

        &::-webkit-scrollbar-thumb{
            background: var(--surface-raised-top);
            border-radius: var(--border-radius-l);
        }

        &::-webkit-scrollbar-thumb:hover{
            background: var(--surface-card);
        }
    }
}