.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-secondary);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    text-decoration: none;

    &:hover {
        background-color: var(--background-color-secondary-hover);
    }
}

.deleteIcon {
    font-size: 1.25rem;
}
